@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Error.</h1>
<h2>@Model.Message</h2>

<div class="text-center">
    <a href="#" class="btn btn-dark" onclick="history.back()">Back</a>
</div>