@model CommLibs.Models.Product

@{
    ViewData["Title"] = "Create";
}
<link href="~/dropzone/dist/dropzone.css" rel="stylesheet" />
<h1>Create</h1>

<h4>Product</h4>
<hr />
<div class="row">
    <form asp-action="Create" id="myForm">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        @*            <div class="form-group">
        <label asp-for="Id" class="control-label"></label>
        <input asp-for="Id" class="form-control" />
        <span asp-validation-for="Id" class="text-danger"></span>
        </div>
        *@
        <div class="form-group">
            <label asp-for="Name" class="control-label"></label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Price" class="control-label"></label>
            <input asp-for="Price" class="form-control" />
            <span asp-validation-for="Price" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Content" class="control-label"></label>
            <textarea asp-for="Content" class="form-control summernote"></textarea>

            @*<input asp-for="Content" class="form-control" />*@
            <span asp-validation-for="Content" class="text-danger"></span>
        </div>
        <div id="myDropzone" class="dropzone"></div>
        <div id="divFileList"></div>
        <br />
        <div class="form-group text-center">
            <input id="btnSubmit" type="submit" value="Create" class="btn btn-primary" />
            <a asp-action="Index" class="btn btn-dark">Back to List</a>
        </div>

    </form>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script src="~/dropzone/dist/dropzone-min.js"></script>
    <script>
        $(document).ready(function () {
            $('.summernote').summernote();
        });

        $(".summernote").summernote({
            height: 300,
            minHeight: null,
            maxHeight: null,
            focus: true
        });

        var myDropzone = new Dropzone("#myDropzone", {
            url: "/Upload/UploadFiles",
            paramName: "file",
            maxFiles: 10,
            maxFilesize: 100, // mb
            addRemoveLinks: true,
            success: function (file, response) {
                file.upload.newFileName = response.newFileName;
                console.log(response);
            },
            error: function (file, response) {
                alert(response);
                myDropzone.removeFile(file);
                console.log(response);
            },
            removedfile: function (file) {
                $.ajax({
                    url: "/Upload/DeleteFile/" + encodeURIComponent(file.upload.newFileName),
                    type: "DELETE",
                    success: function (response) {
                        console.log(response);
                    },
                    error: function (response) {
                        console.log(response);
                    }
                });
                var _ref;
                return (_ref = file.previewElement) != null ? _ref.parentNode.removeChild(file.previewElement) : void 0;
            }
        });

        $("#myForm").submit(function (e) {
            e.preventDefault();

            for (var i = 0; i < myDropzone.files.length; i++) {
                var file = myDropzone.files[i];
                $("#myDropzone").append("<input type='hidden' name='files' value='" + file.upload.newFileName + "' />");
            }

            $.ajax({
                url: "/Product/Create",
                type: "POST",
                data: $("#myForm").serialize(),
                success: function (response) {
                    myDropzone.removeAllFiles();
                    location.href = response;
                    console.log(response);
                },
                error: function (response) {
                    console.log(response);
                }
            });
        });

        window.addEventListener("beforeunload", function (e) {
            for (var i = 0; i < myDropzone.files.length; i++) {
                var file = myDropzone.files[i];

                $.ajax({
                    url: "/Upload/DeleteFile/" + encodeURIComponent(file.upload.newFileName),
                    type: "DELETE",
                    success: function (response) {
                        console.log(response);
                    },
                    error: function (response) {
                        console.log(response);
                    }
                });
            }
        });

    </script>
}
