@model List<CommLibs.Models.Role>

@{
    ViewData["Title"] = "Register";
}

<h2>Register</h2>

<form asp-controller="Account" asp-action="Register" method="post">
    <div class="form-group">
        <label for="userName">Username</label>
        <input type="text" class="form-control" id="userName" name="userName" placeholder="Enter username" required>
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" id="password" name="password" placeholder="Password" required>
    </div>

    <label for="Roles">Roles</label>

    @foreach (var role in Model)
    {
        <div class="checkbox">
            <label>
                <input type="radio" name="roleId" value="@role.Id" /> @role.Name</label>
        </div>
    }

    <div class="alert-danger">
        @Html.ValidationSummary()
    </div>

    <button type="submit" class="btn btn-primary" id="btnRegister">Register</button>
</form>
